<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ibenbeni.bens.message.center.modular.biz.message.mapper.MessageTemplateMapper">

    <select id="selectCountByTemplateAndChannel" resultType="java.lang.Long">
        SELECT count(DISTINCT t.template_id)
        FROM message_template t
        <if test="channelType != null">
            LEFT JOIN message_template_content c ON t.template_id = c.template_id AND c.del_flag = 'N'
        </if>
        WHERE t.del_flag = 'N'
        <if test="templateId != null">
            AND t.template_id = #{templateId}
        </if>
        <if test="templateCode != null and templateCode != ''">
            AND t.template_code = #{templateCode}
        </if>
        <if test="channelType != null">
            AND c.channel_type = #{channelType}
        </if>
    </select>

    <select id="selectSupportChannel" resultType="java.lang.Integer">
        SELECT DISTINCT mcc.channel_type
        FROM message_template mt
                 JOIN message_template_channel_rel mtcr ON mt.template_id = mtcr.template_id
                 JOIN message_channel_config mcc ON mtcr.channel_config_id = mcc.config_id
        WHERE  mt.del_flag = 'N' AND mcc.del_flag = 'N' AND mtcr.del_flag = 'N'
          AND mt.template_code = #{templateCode}
    </select>

</mapper>
