<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ibenbeni.bens.message.center.modular.biz.core.mapper.MessageTemplateMapper">

    <select id="selectCountByTemplateAndChannel" resultType="java.lang.Long">
        SELECT count(DISTINCT t.template_id)
        FROM message_template t
        <if test="channelType != null">
            LEFT JOIN message_template_content c ON t.template_id = c.template_id AND c.del_flag = 'N'
        </if>
        WHERE t.del_flag = 'N'
        <if test="templateId != null">
            AND t.template_id = #{templateId}
        </if>
        <if test="templateCode != null and templateCode != ''">
            AND t.template_code = #{templateCode}
        </if>
        <if test="channelType != null">
            AND c.channel_type = #{channelType}
        </if>
    </select>

</mapper>
